@use './variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: $background;
}

main {

    .logo {
        margin: 102px 0 0 165px;
    }

    .container {
        width: 723px;
        height: 509px;
        margin-top: 103px;
        background-color: $background;
        margin-left: 165px;

        h1 {
            font-family: 'Chivo';
            font-style: normal;
            font-weight: 400;
            font-size: 52px;
            line-height: 62px;
            text-transform: uppercase;
            color: $light_green;
            padding-top: 88px;

            span {
                color: $white;
            }
        }

        .paragraph {
            width: 445px;
            margin: 24px 0 40px 0;

            p {
                font-family: 'Chivo';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: $grey_light;
            }
        }

        #form {

            #email {
                padding-left: 32px;
                font-family: 'Chivo';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                color: $white;
                mix-blend-mode: normal;
                opacity: 0.5;
            }

            input {
                width: 427px;
                height: 56px;
                background: $grey_dark;
                border-radius: 28px;
                border: none;
                position: relative;

                &.error {
                    outline: 1px solid $red;
                    border: 0;
                }
            }

            button {
                width: 162px;
                height: 46px;
                position: absolute;
                top: 630px;
                left: 424px;
                font-family: 'Chivo';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                color: $background;
                background: $light_green;
                box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
                border-radius: 28px;
                border: none;

                &:hover {
                    cursor: pointer;
                    background: $light_green_hover;
                    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
                    border-radius: 28px;
                }
            }

            #error_text {
                display: none;
                font-family: 'Chivo';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: $red;
                padding: 8px 0 0 32px;

                &.active {
                    display: block;
                }
            }
        }

        .icons {
            margin-top: 64px;
            width: 536px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .media {
                height: fit-content;
            }
        }

        .dots {
            position: absolute;
            left: 1210px;
            top: 708px;
        }

        .host {
            z-index: -1;
            position: absolute;
            top: 119px;
            left: 550px;
        }
    }
}



@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    main {
        background-image: url(../assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

        .logo {
            margin: 50px 0 0 39px;
        }

        .container {
            width: 635px;
            margin-top: 152px;
            margin-left: 39px;

            h1 {
                font-size: 48px;
                line-height: 56px;
                padding-top: 93px;
            }

            .paragraph {
                margin: 31px 0 40px 0;
            }

            #form {

                button {
                    top: 627px;
                    left: 297px;
                }
            }

            #error_text {
                display: none;
                font-family: 'Chivo';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: $red;
                padding: 8px 0 0 32px;

                .icons {
                    margin-top: 64px;
                    width: 536px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .media {
                        height: fit-content;
                    }

                }
            }

            .dots {
                position: absolute;
                left: 40px;
                top: 920px;
            }
        }

        .host {
            img {
                display: none;
            }
        }
    }
}



@media screen and (max-width: 425px) {
    body {
        max-width: 425px;
    }

    main {
        z-index: -1;
        background-image: url(../assets/mobile/image-host.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: normal;

        .logo {
            margin: 62px 120px 57px 120px;
        }

        .container {
            background: none;
            width: 327px;
            margin: 57px 24px 0 24px;

            h1 {
                font-size: 26px;
                line-height: 38px;
                padding-top: 0;
                text-align: center;
            }

            .paragraph {
                width: 327px;
                margin: 16px 0 33px 0;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }

            #form {
                display: flex;
                flex-direction: column-reverse;

                #email {
                    opacity: 1;
                }

                input {
                    width: 326px;
                    height: 46px;
                }

                button {
                    width: 326px;
                    top: 675px;
                    left: 24px;
                }
            }

            .icons {
                margin-top: 33px;
                margin-bottom: 48px;
                width: 315px;

                .media {
                    width: 46px;
                    height: fit-content;
                }
            }

            #error_text {
                font-size: 11px;
                line-height: 12px;
                padding: 0 0 0 32px;
                margin-bottom: 2px;
            }
        }

        .dots,
        .host {
            display: none;
        }
    }
}